/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: antiquewhite;
  padding: auto;
}

ul {
    list-style: none;
}

.user_card {
  display: flex;
  margin: 3px;
}

.img {
  padding-right: 10rem;
  border: 2px solid;
  margin-right: 2rem;
  width: 150px;
}

.user_info {
  border: 2px solid;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.username {
  padding-left: 2rem;
}

.number_of_post {
  padding-top: 2rem;
  padding-right: 2rem;
}

.bio,
.posts,
.comments,
.post_with_comment_container {
  border: 2px solid;
  padding: 3px 5px;
  margin-bottom: 0.5rem;
}

.comments_likes {
  padding-left: 41rem;
}

button {
  margin-left: 50%;
}
